.seller-profile {
  margin-top: 63px;

  .seller-img {
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
    }
  }

  h4 {
    display: block;
    font-family: "Canela-Medium";
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.81px;
    color: #000000;
    margin: 0 0 7px;
  }

  .verified-boxs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin: 0 0 10px;

    .btn.btn-success {
      margin-right: 10px;
    }
    img {
      margin-right: 5px;
    }
    span {
      font-size: 18px;
      letter-spacing: -0.56px;
      color: #000000;
    }
  }

  p {
    display: block;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.56px;
    color: #000000;
    margin: 0 0 10px;
  }

  .reting-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    span > span {
      margin-right: 4px;
    }
  }
}

.write-review {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 25px 0 40px 0;
  border: solid 1px #000000;
  background-color: #000000;
  padding: 25px;

  @media (max-width: 767px) {
    justify-content: center;
    margin: 25px -15px 40px -15px;
  }

  p {
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.63px;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    @media (max-width: 767px) {
      width: 100%;
      margin: 0 0 10px;
      justify-content: center;
    }
  }

  .btn.btn-light {
    padding: 15px 44px;
    border-radius: 0;
    line-height: 1;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #000000;
  }
}

.review-chart {
  display: block;
  margin: 40px 0;

  h4 {
    display: block;
    margin: 0 0 35px;
    font-family: "Canela-Medium";
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.81px;
    color: #000000;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 0 10px;

      .stare-text {
        width: 60px;
        line-height: 1;
        font-size: 18px;
        color: #000000;
      }

      .progress {
        width: calc(100% - 60px - 40px);
        background: #f6f6f6;
        border-radius: 0;

        .progress-bar {
          box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.5);
          background-color: #000000;
        }
      }

      .progress-text {
        width: 40px;
        text-align: right;
        line-height: 1;
        font-size: 18px;
        color: #000000;
      }
    }
  }
}

.readreview-box {
  display: block;
  padding: 25px;
  background-color: #f6f6f6;
  margin: 0 0 40px;

  .top {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .left {
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 767px) {
        width: 100%;
      }

      img {
        width: 50px;
      }

      .content {
        width: calc(100% - 50px);
        padding: 0 0 0 10px;
        border: 0;

        h6 {
          display: block;
          font-family: "Canela-Medium";
          font-size: 24px;
          font-weight: 500;
          line-height: 1;
          letter-spacing: -0.47px;
          color: #000000;
          margin: 0 0 5px;
        }

        p {
          display: block;
          font-size: 18px;
          font-weight: normal;
          line-height: 1;
          letter-spacing: -0.42px;
          color: #000000;
          margin: 0;
          text-align: left;
        }
      }
    }

    .review-icon {
      margin-left: auto;

      @media (max-width: 767px) {
        margin: 10px 0 0 0;
        width: 100%;
      }

      span > span {
        margin-right: 5px;
      }
    }
  }

  .sub-title {
    display: block;
    padding: 18px 0;
    border-bottom: solid 1px #d0d0d0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.42px;
    color: #000000;
  }

  .content {
    display: block;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.33px;
    color: #000000;
    border-bottom: solid 1px #d0d0d0;
  }

  .week {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.28px;
    color: #4a4a4a;
    padding: 12px 0 0;
  }
}

.seekrep-detalis {
  display: block;
  margin: 59px 0 40px 0;

  @media (max-width: 991px) {
    margin: 30px 0 40px 0;
  }

  h4 {
    font-family: "Canela-Regular";
    display: block;
    font-size: 26px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -0.81px;
    color: #000000;
    margin: 0 0 15px;
  }
  p {
    background: #f6f6f6;
    margin: 0;
    display: block;
    padding: 35px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.56px;
    color: #000000;

    @media (max-width: 1199px) {
      padding: 0;
    }
  }
}

.profiles-boxs {
  display: block;

  @media (max-width: 991px) {
    margin: 0 0 40px;
  }

  h4 {
    font-family: "Canela-Regular";
    display: block;
    font-size: 26px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -0.81px;
    color: #000000;
    margin: 0 0 25px;
  }

  ul {
    display: block;
    border: solid 1px #d0d0d0;
    margin: 0;
    list-style: none;
    padding: 34px;

    li {
      display: block;
      margin: 0 0 20px;

      &:last-child {
        margin: 0;
      }

      h6 {
        display: block;
        margin: 0 0 5px;
        font-family: "Canela-Regular";
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.56px;
        color: #000000;
      }

      p {
        display: block;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.56px;
        color: #000000;
        margin: 0;
      }
    }
  }
}
