@import "~bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";

@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.eot");
  src: url("../fonts/Canela-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Canela-Regular.svg#Canela-Regular") format("svg"),
    url("../fonts/Canela-Regular.ttf") format("truetype"),
    url("../fonts/Canela-Regular.woff") format("woff"),
    url("../fonts/Canela-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Canela-Medium";
  src: url("../fonts/Canela-Medium.eot");
  src: url("../fonts/Canela-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Canela-Medium.svg#Canela-Medium") format("svg"),
    url("../fonts/Canela-Medium.ttf") format("truetype"),
    url("../fonts/Canela-Medium.woff") format("woff"),
    url("../fonts/Canela-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.eot");
  src: url("../fonts/Canela-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Canela-Bold.svg#Canela-Bold") format("svg"),
    url("../fonts/Canela-Bold.ttf") format("truetype"),
    url("../fonts/Canela-Bold.woff") format("woff"),
    url("../fonts/Canela-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Unica W06 Regular";
  src: url("../fonts/Neue Haas Unica W06 Regular.eot");
  src: url("../fonts/Neue Haas Unica W06 Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Neue Haas Unica W06 Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasUnicaW06-Regular";
  src: url("../fonts/NeueHaasUnicaW06-Regular.svg#NeueHaasUnicaW06-Regular")
      format("svg"),
    url("../fonts/NeueHaasUnicaW06-Regular.ttf") format("truetype"),
    url("../fonts/NeueHaasUnicaW06-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Neue Haas Unica W06 Regular", "NeueHaasUnicaW06-Regular",
    sans-serif;
  font-weight: 400;
  font-size: 14px;
  background: #ffffff;
}

.form-group {
  display: block;
  margin: 0 0 12px;

  label {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    line-height: 1;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.56px;
    color: #000000;
  }

  .form-control {
    border: solid 1px #d0d0d0;
    background-color: #ffffff;
    padding: 17px 15px;
    line-height: 1;
    height: auto;
    font-size: 16px;
    color: #000;
    border-radius: 0px;
  }
}

.login-bg {
  display: block;
  padding: 70px 0;

  @media (max-width: 567px) {
    padding: 30px 0;
  }

  &.modal-login {
    padding: 0;

    @media (max-width: 991px) {
      padding: 30px;
    }

    .login-boxs {
      .nav {
        margin: 0 0 15px 0;
        .nav-item {
          display: block;
          padding: 15px 0;
          border: 0;
          border-bottom: solid 2px #979797;
          text-align: center;
          font-size: 20px;
          font-family: "Canela-Bold";
          font-weight: normal;
          line-height: 1;
          letter-spacing: 0.36px;
          color: #000000;
          width: 50%;
          border-radius: 0;

          &.active {
            border-color: #000;
          }
        }
      }
    }
  }

  .login-boxs {
    padding: 15px;

    @media (max-width: 567px) {
      padding: 0;
    }

    .nav {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 0 35px;

      @media (max-width: 567px) {
        margin: 0 0 25px;
      }

      .nav-item {
        width: 50%;
        padding: 0;

        a.nav-link {
          display: block;
          padding: 15px 0;
          border-bottom: solid 2px #979797;
          text-align: center;
          font-size: 20px;
          font-family: "Canela-Bold";
          font-weight: normal;
          line-height: 1;
          letter-spacing: 0.36px;
          color: #000000;

          &.active {
            border-color: #000;
          }
        }
      }
    }

    .seekrep-box {
      display: block;
      text-align: center;
      padding: 35px 0 0 0;

      @media (max-width: 567px) {
        padding: 0;
      }

      h2 {
        display: block;
        font-size: 26px;
        font-family: "Canela-Bold";
        font-weight: normal;
        line-height: 1;
        letter-spacing: 0.47px;
        color: #000000;
        margin: 0 0 25px 0;

        span {
          font-family: "Neue Haas Unica W06 Regular", "NeueHaasUnicaW06-Regular",
            sans-serif;
          font-weight: 600;
        }
      }

      button {
        display: block;
        width: 100%;
        margin: 0 0 10px;
        background: #5387ed !important;
        box-shadow: none !important;

        span {
          width: calc(100% - 48px);
          padding-right: 0 !important;
          font-size: 16px;
          font-weight: bold !important;
          color: #fff;
          line-height: 1;
        }

        &.kep-login-facebook {
          background: #377aea !important;
          border: 0px;
          border-radius: 3px;
          line-height: 1;
          padding: 12px;
          text-align: left;
          text-transform: capitalize;

          .fa {
            width: 25px;
            text-align: center;
          }
        }
      }

      .or-box {
        position: relative;
        width: 100%;
        border-top: solid 1px #979797;
        margin: 30px 0 20px;

        span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          padding: 0 20px;
          font-size: 16px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: -0.5px;
          text-align: center;
          color: #000000;
          background-color: #ffffff;
        }
      }
    }

    .btn {
      padding: 20px 0 17px;
      font-size: 18px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: -0.5px;
      text-align: center;
      color: #ffffff;
      border-radius: 0;
      text-transform: uppercase;

      &.btn-dark {
        background-color: #000;
      }
    }

    .link-text {
      display: block;
      width: 100%;
      font-size: 18px;

      a {
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.44px;
        color: #000000;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }

        &.border-top {
          border-top: solid 1px #979797;
        }

        &.small {
          font-size: 14px;
        }
      }
    }
  }
}

.content-part {
  margin-left: 200px;
  padding: 57px 0 0 0;
}
