.app-header.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #c8ced3;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  z-index: 9;

  .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0;
    text-align: center;
  }
  .dropdown-menu {
    padding-bottom: 0;
    line-height: 1.5;
  }

  .navbar-brand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 55px;
    padding: 0;
    margin-right: 0;
    background-color: transparent;
  }

  .navbar-nav {
    display: flex;
    // flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    align-items: center;

    .dropdown-menu {
      position: static;
      float: none;
      position: absolute;
    }
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    color: #23282c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
  }

  .ml-auto,
  .mx-auto {
    margin-left: auto !important;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
}
