.swal-modal {
  width: 350px;
}

.login-bg {
  .ProfilePage {
    max-width: 672px;

    @media (max-width: 767px) {
      max-width: 100%;
    }

    h4 {
      font-size: 26px;
      font-weight: 400;
      letter-spacing: -0.81px;
      color: #000000;
      margin: 0 0 27px;
      font-family: "Canela-Regular";
    }
    form {
      .ProfilePicture {
        margin: 0 0 40px 0;
        .custom.custom-file {
          height: auto;
          .ProfilePictureDIV {
            width: 129px;
            height: 129px;
            min-width: 129px;
            background: #eee;
            border: 1px solid #ddd;

            @media (max-width: 567px) {
              width: 150px;
              height: 150px;
              min-width: 150px;
            }

            img {
              width: 129px;
              height: 129px;

              @media (max-width: 567px) {
                width: 150px;
                height: 150px;
              }
            }
          }
          label {
            width: calc(100% - 147px);
            margin: 0 0 0 auto;
            border: solid 1px #d0d0d0;
            border-radius: 0;
            padding: 8px 8px 8px 20px;
            height: 63px;
            line-height: 45px;

            @media (max-width: 567px) {
              max-width: 100%;
              text-align: center;
              width: calc(100% - 160px);
              height: 150px;
              padding: 30px;
            }
            i {
              font-size: 25px;
            }

            &::after {
              content: attr(data-browse);
              width: 221px;
              height: 45px;
              background-color: #000000;
              top: 8px;
              right: 8px;
              border-radius: 0;
              font-family: "Neue Haas Unica W06 Regular";
              line-height: 45px;
              letter-spacing: -0.56px;
              text-align: center;
              color: #fff;
              padding: 0;

              @media (max-width: 567px) {
                width: 100%;
                text-align: center;
                height: auto;
                padding: 0;
                top: 0;
                left: 0;
                right: 0;
                line-height: 1;
                color: #000;
                position: relative;
                background: none;
              }
            }
          }
        }
      }
      .form-group {
        margin: 0 0 16px 0;
        label {
          display: block;
          font-family: "Canela-Regular";
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: -0.56px;
          color: #000000;
        }
        .form-control {
          border: 1px solid #d0d0d0;
          background-color: #ffffff;
        }
      }
      .ButtonWrap {
        text-align: right;
        margin: 0 0 50px;
        button {
          background-color: #000000;
          border: 2px solid #000;
          padding: 15px;
          font-family: "NeueHaasUnicaW06";
          font-size: 18px;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: -0.5px;
          text-align: center;
          color: #ffffff;
          min-width: 282px;
          border-radius: 0;

          @media (max-width: 767px) {
            min-width: 100%;
            max-width: 100%;
          }

          &:hover {
            background: transparent;
            color: #000;
          }
        }
      }
    }
  }
}
